@font-face {
	font-family: 'HK Grotesk';
	src: url('../../../public/font/HKGrotesk-Bold.woff2') format('woff2'), url('../../../public/font/HKGrotesk-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../../../public/font/HKGrotesk-SemiBold.woff2') format('woff2'), url('../../../public/font/HKGrotesk-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../../../public/font/HKGrotesk-Regular.woff2') format('woff2'), url('../../../public/font/HKGrotesk-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../../../public/font/HKGrotesk-Medium.woff2') format('woff2'), url('../../../public/font/HKGrotesk-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../../../public/font/HKGrotesk-Bold.woff2') format('woff2'), url('../../../public/font/HKGrotesk-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../../../public/font/HKGrotesk-Medium.woff2') format('woff2'), url('../../../public/font/HKGrotesk-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../../../public/font/HKGrotesk-Regular.woff2') format('woff2'), url('../../../public/font/HKGrotesk-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('../../../public/font/HKGrotesk-SemiBold.woff2') format('woff2'), url('../../../public/font/HKGrotesk-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
